{% extends 'base.html' %}
{% block content %}
<h1>{{ text }}</h1>
<a href="{% url 'contracts:contracts_list' %}">
  Страница со списком адвокатских соглашений
</a>

<div class="container py-5">
  {% for contract in contracts %}
    <ul>
      <b>
        Соглашение номер е-{{ contract.pk }}
      </b>
      <li>
        Дата: {{ contract.date|date:"d E Y" }}
      </li>
      <li>
        Адвокат: {{ contract.name }}
      </li>
      <li>
        Доверитель: {{ contract.client }}
      </li>
      <li>
        Описание: {{ contract.description }}
      </li>
    </ul>
  {% endfor %}
</div>

<div class="container py-5">
  {% for i in clients %}
    <ul>
      <b>
        Test {{ i.test_id }}
      </b>
      <li>

      <ul>
      <b>
        Other {{ i.full_name }}
      </b>
      <li>
    </ul>
  {% endfor %}
</div>

{% endblock %}
